.cart-top{
    margin:20px 0;
}

.cart-table th {
    text-align: left;
    padding:0 4px;
    font-weight:900;
}
.cart-table td {
    text-align: left;
    padding:4px;
    border-bottom: 1px black solid;
}


    

